:root{

    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Neutral colors */
    --pale-blue: hsl(221, 100%, 96%);
    --white: hsl(0, 0%, 100%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Gradiants */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);

    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: clamp(3.5rem, 3.148rem + 1.502vw, 4.5rem);
    font-weight: 800;
}

h2{
    font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
    font-weight: 700;
}

h3{
    font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
    font-weight: 700;
}

h4{
    font-size: clamp(1rem, 0.956rem + 0.188vw, 1.125rem);
    font-weight: 500;
}

.card{
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    /* align-content: center; */
    text-align: center;
    background-color: var(--white);
    width: minmax(325px, 750px);
    border-radius: 2rem;
}

#summary__title{
    align-self: flex-start;
    margin-block: 1.5rem;
}

.flex{
    display: flex;
    gap: .75rem;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.categories{
    width: 100%;
}

.category > p{
    font-weight: 700;
}

.category > p > span{
    opacity: 50%;
}

.results__score{
    border-radius: 100%;
    background: linear-gradient(var(--light-royal-blue-bg), var(--persian-blue-circle));
    width: clamp(8.75rem, 7.43rem + 5.634vw, 12.5rem);
    height: clamp(8.75rem, 7.43rem + 5.634vw, 12.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-block: 1.5rem;
}

#card__results, #card__summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.875rem;
}

#card__summary{
    padding-top: 0px;
}

#card__results{
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue-bg));
    color: white;
    border-radius: 0 0 2rem 2rem;
}

#reaction{
    background-color: hsla(0, 100%, 67%, 10%);
}

#memory{
    background-color: hsla(39, 100%, 56%, 10%);
}

#verbal{
    background-color: hsla(166, 100%, 37%, 10%);
}

#visual{
    background-color: hsla(224, 30%, 27%, 10%);
}

.light-red{
    color: var(--light-red);
}

.orangey-yellow{
    color: var(--orangey-yellow);
}

.green-teal{
    color: var(--green-teal);
}

.cobalt-blue{
    color: var(--cobalt-blue);
}

.dark-gray-blue{
    color: var(--dark-gray-blue);
}

.lavender{
    color: var(--light-lavender);
}

#btn-continue{
    /* background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue-bg)); */
    background: var(--dark-gray-blue);
    color: var(--white);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 5rem;
    margin-block: .5rem;
}

#btn-continue:hover{
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue-bg));
}

#results__status{
    margin: .875rem;
    margin-top: 0;
}

@media (min-width: 600px){
    .card{
        grid-template-columns: 1fr 1fr;
        max-width: 850px;
    }

    #card__results{
        border-radius: 2rem;
    }

    #card__results, #card__summary{
        min-height: 100%;
    }
}