:root{

    /* Primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Neutral colors */
    --pale-blue: hsl(221, 100%, 96%);
    --white: hsl(0, 0%, 100%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Gradiants */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue-bg: hsl(241, 81%, 54%);

    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    min-height: 100vh;
    font-size: 1.125rem;    
}